
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Librarian add stocks</title>
		
		<meta name="author" content="Fangh13">
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<form action="/submitstock" method="post">
					<div class="form-group">
						<label for="Title">Title</label>
						<input type="text" class="form-control" id="Title" value="{{body.title}}">
					</div>
					<div class="form-group">
						<label for="PrimaryAuthor">PrimaryAuthor</label>
						<input type="text" class="form-control" id="PrimaryAuthor" value="{{body.author}}">
					</div>
					<div class="form-group">
						<label for="ISBN-13 Number">ISBN-13 Number</label>
						<input type="text" class="form-control" id="ISBN-13 Number" value="{{body.isbn_num}}">
					</div>
					<div class="form-group">
						<label for="The Dewey Classification number">The Dewey Classification number</label>
						<input type="text" class="form-control" id="Dewey" value="{{body.classification_num}}">
					</div>
					<div class="form-group">
						<label for="Quantity">Quantity</label>
						<input type="text" class="form-control" id="Quantity" value="{{body.quantity}}">
					</div>
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</form>
			</div>
		</div>
	</body>
</html>