
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Book stocks for librarians</title>
		
		<meta name="author" content="Fangh13">
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
		<link href="{{host}}/style.css" rel="stylesheet">

	</head>
	<body>
		<header>
			<h1>Librarian Loans System - Book Stocks</h1>
			<a href="/logout">
				Log out
			</a>
		</header>
		<div class="container-fluid" style=margin-top:20px>
		<div class="row">
			<div class="col-md-12">
				<div style="margin-left:5px;margin-top:20px">
					<form class="form-inline" action="/librarian/studentmanagement" method="get">
						<input class="form-control mr-sm-2" type="text" name="borrower" placeholder="Input student name">
						<button class="btn btn-primary my-2 my-sm-0" type="submit">
							Search
						</button>
					</form>
				<a href="/bookstocks/addstocks">
				<button type="button" class="btn btn-success" style="margin-top:10px;">
					Add
				</button>
					</a>
				<table class="table" style="margin-top:10px;">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Author
							</th>
							<th>
								Stocks
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each this}}
						<tr>
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{stocks}}</td>
						</tr>	
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<script src="../coverage/lcov-report/bootstrap.min.js"></script>
		<script src="../coverage/lcov-report/jquery.min.js"></script>
	</body>
</html>