
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Book borrow record for student</title>
		
		<meta name="author" content="Fangh13">
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
				<link href="{{host}}/style.css" rel="stylesheet">

	</head>
	<body>
		<header>
			<h1>Library Loans System - Borrow Reocrds</h1>
			<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
		<script>
			alert(`{{msg}}`)
			</script>
		{{/if}}
				<div style=margin-left:5px;margin-top:20px>
						<form class="form-inline" action="/bookstocks/availablebookstocks" method="get">
							<input class="form-control mr-sm-2" type="text" name="searchitem">
							<button class="btn btn-primary my-2 my-sm-0" type="submit">
								Search
							</button>
					</form>
					</div>
				<table class="table" style=margin-top:20px>
					<thead>
						<tr>
							<th>
								Book Title
							</th>
							<th>Author</th>
							<th>
								DeadLine
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each this.data}}
						{{#if deadline}}
						{{#overdue deadline}}
						<tr class="table-danger">
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{deadline}}</td>
						</tr>	
						{{else}}
						<tr class="table-success">
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{deadline}}</td>
						</tr>
						{{/overdue}}
						{{/if}}
						{{/each}}
					</tbody>
				</table>
	
	</body>
</html>