
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Search result for student</title>
		
		<meta name="author" content="Fangh13">
		
		<script src="{{host}}/jquery.min.js"></script>
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
				<link href="{{host}}/style.css" rel="stylesheet">

	</head>
	<body>
		<header>
			<h1>Library Loans System - Search Book</h1>
			
			<a href="/logout">Log out</a>
			<a>{{user}}</a>
		</header>
				<div style=margin-left:5px;margin-top:20px>
						<a href="/borrowrecord"><input class="btn btn-primary my-2 my-sm-0" type="button" value="Borrow Record"></a>
						<form class="form-inline" action="/bookstocks/availablebookstocks" method="get">
							<input class="form-control mr-sm-2" type="text" name="searchitem">
							<button class="btn btn-primary my-2 my-sm-0" type="submit">
								Search
							</button>
					</form>
					</div>
				<table class="table" id="searchstocktable" style=margin-top:20px>
					<thead>
						<tr>
							<th>
								Book Title
							</th>
							<th>
								Author
							</th>
							<th>ISBN_13 Number</th>
							<th>Stocks</th>
							<th>Available</th>
<!-- 							<th>Operation</th> -->
						</tr>
					</thead>
					<tbody>
						{{#each this}}
						<tr>
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{isbn_num}}</td>
							<td name="stocks" value="stocks">{{stocks}}</td>
							<td>{{available}}</td>
<!-- 							<td><input type="button" id="borrowbutton" onclick="borrow(this)" value="borrow"></td> -->
						</tr>	
						{{/each}}
					</tbody>
				</table>
		<script type="text/javascript">
			function borrow($this){
				var row = $($this).parents("tr");
				console.log(row.children("td").get(0).innerHTML);
				console.log(row.children("td").get(1).innerHTML);
				console.log(row.children("td").get(2).innerHTML);
				console.log(row.children("td").get(3).innerHTML);
				document.getElementById("searchstocktable").disabled=true;
				var isbn_num = row.children("td").get(2).innerHTML;
				$.post("/borrowrecord",{ isbn_num:isbn_num },
							function(data){
					window.location.href = `/borrowrecord?msg=borrow book success`;
				});
				
				
			}
		</script>
	</body>
</html>