
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Librarian search borrow record for student</title>
		
		<meta name="author" content="Fangh13">
		
		<script src="{{host}}/jquery.min.js"></script>
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
		<link href="{{host}}/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>
				Librarian Loans System
			</h1>
			
			<a href="/logout">Log out</a>
			<a>{{user}}</a>
		</header>
		{{#if msg}}
		<script>
			alert(`{{msg}}`)
			</script>
		{{/if}}
		<div class="container-fluid" style=margin-top:20px>
		<div class="row">
										<a href="/bookstocks" style="margin-left:15px"><input class="btn btn-primary my-2 my-sm-0" type="button" value="Stock list" style="margin-left:5px;"></a>

			<div class="col-md-12">
				<div style=margin-left:5px;margin-top:20px>
						<form class="form-inline" action="/librarian/studentmanagement" method="get">
							<input class="form-control mr-sm-2" type="text" name="borrower" placeholder="Input student name to search borrow record">
							<input type="submit" value="search">
												<a href="/borrowrecord/borrowbook" style="margin-left:5px;"><input type="button" value="borrow"></a>

<!-- 					<a style="margin-left:1vw"><input type="button" value="borrow"></a> -->
					</form>
					</div>
				<table class="table" id="searchstocktable" style=margin-top:20px>
					<thead>
						<tr>
							<th>
								Book Title
							</th>
							<th>
								Author
							</th>
							<th>ISBN_13 Number</th>
							<th>User</th>
							<th>DeadLine</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						{{#each this.data}}
						{{#if deadline}}
						{{#overdue deadline}}
						<tr class="table-danger">
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{isbn_num}}</td>
							<td>{{borrower}}</td>
							<td>{{deadline}}</td>
							<td style="display:none">{{book_uuid}}</td>
							<td><input type="submit" id="return" onclick="returnbook(this)" value="return book"></td>
						</tr>	
						{{else}}
						<tr class="table-success">
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{isbn_num}}</td>
							<td>{{borrower}}</td>
							<td>{{deadline}}</td>
							<td style="display:none;">{{book_uuid}}</td>
							<td><input type="submit" id="return" onclick="returnbook(this)" value="return book"></td>
						</tr>	
						{{/overdue}}
			{{/if}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<script type="text/javascript">
			function returnbook($this){
				var row = $($this).parents("tr");
				console.log(row.children("td").get(0).innerHTML);
				console.log(row.children("td").get(1).innerHTML);
				console.log(row.children("td").get(2).innerHTML);
				console.log(row.children("td").get(3).innerHTML);
				
				var uuid = row.children("td").get(5).innerHTML;
				var borrower = row.children("td").get(3).innerHTML;
				var book_title = row.children("td").get(0).innerHTML;
				$.post("/borrowrecord/returnbook",{ book_uuid:uuid,borrower:borrower },
							function(data){
					window.location.href = `/librarian/studentmanagement?borrower=${borrower}&msg=return book ${book_title} success`;
				});
				
			}
		</script>
	</body>
</html>