
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Librarian search borrow record for student</title>
		
		<meta name="author" content="Fangh13">
		
		<script src="{{host}}/jquery.min.js"></script>
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid" style=margin-top:20px>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-left">
					Library Loans System
				</h3>
				<div style=margin-left:5px;margin-top:20px>
						<form class="form-inline" action="/librarian/studentmanagement" method="get">
							<input class="form-control mr-sm-2" type="text" name="borrower" placeholder="Input student name to search borrow record">
							<button class="btn btn-primary my-2 my-sm-0" type="submit">
								Search
							</button>
					</form>
					</div>
				<table class="table" id="searchstocktable" style=margin-top:20px>
					<thead>
						<tr>
							<th>
								Book Title
							</th>
							<th>
								Author
							</th>
							<th>ISBN_13 Number</th>
							<th>User</th>
							<th>DeadLine</th>
						</tr>
					</thead>
					<tbody>
						{{#each this}}
						<tr>
							<td>{{title}}</td>
							<td>{{author}}</td>
							<td>{{isbn_num}}</td>
							<td>{{borrower}}</td>
							<td>{{deadline}}</td>
							<td><input type="button" id="return" onclick="returnbook(this)" value="return book"></td>
						</tr>	
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<script type="text/javascript">
			function returnbook($this){
				var row = $($this).parents("tr");
				console.log(row.children("td").get(0).innerHTML);
				console.log(row.children("td").get(1).innerHTML);
				console.log(row.children("td").get(2).innerHTML);
				console.log(row.children("td").get(3).innerHTML);
				
				var isbn_num = row.children("td").get(2).innerHTML;
				var borrower = row.children("td").get(3).innerHTML
				$.post("/returnbook",{ isbn_num:isbn_num,borrower:borrower });
				
				
			}
		</script>
	</body>
</html>